[submodule "thirdparty/glm"]
	path = NodeBrain/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/glfw"]
	path = NodeBrain/thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/spdlog"]
	path = NodeBrain/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "test/thirdparty/googletest"]
	path = Test/thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "NodeBrain/thirdparty/ImGui"]
	path = NodeBrain/thirdparty/ImGui
	url = https://github.com/ocornut/ImGui
	branch = docking
