[submodule "thirdparty/glm"]
	path = NodeBrain/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/glfw"]
	path = NodeBrain/thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/spdlog"]
	path = NodeBrain/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ImGui"]
	path = NodeBrain/thirdparty/ImGui
	url = https://github.com/kyenel64/ImGui
	branch = docking_NodeBrain
[submodule "tests/thirdparty/googletest"]
	path = tests/thirdparty/googletest
	url = https://github.com/google/googletest
